@CHARSET "UTF-8";
h5, h4 {
	font-weight: 300px;
	margin:  0 0 important;
}

.firstp{
	font-size: 30px;
	font-family: Bitter, Georgia, serif;
	position: fixed;
	top: 30px;
	right: 5px;
}

.secondi{
	font-size: 10px;
	font-family: Bitter, Georgia, serif;
	margin-bottom: 20px; 
}

.secondp{
	font-size: 10px;
	font-family: Bitter, Georgia, serif;
	margin-bottom: 20px; 
}
.yellowbg{
	background-color: #F79206;
}

.lastp{
	font-color: 12px;
}

.lastbox {
	margin: 10px 10px 10px 10px;
}
	 
.inf{
	margin-top: -100px;
}
